<div class="container">
  <h1>Register</h1>
  <p>Please fill in this form to create an account.</p>
  <hr>

  <label for="firstname"><b>Firstname</b></label>
  <input type="text" placeholder="Enter Firstname" name="firstname" required>
  <br/>
  <br/>
  <label for="lastname"><b>Lastname</b></label>
  <input type="text" placeholder="Enter Lastname" name="lastname" required>
  <br/>
  <br/>
  <label for="email"><b>Email</b></label>
  <input type="text" placeholder="Enter Email" name="email" required>
  <br/>
  <br/>
  <label for="phone"><b>Contact No.</b></label>
  <input type="text" pattern="[6789][0-9]{9}" placeholder="Enter Contact Number" name="phone" required>
  <br/>
  <br/>
  <label for="psw"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="psw" required>
  <br/>
  <br/>
  <label for="psw-repeat"><b>Repeat Password</b></label>
  <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
  <hr>
  <br/>
  <br/>
  <button type="submit" class="registerbtn">Register</button>
</div>
