<select>
  <option value="Primary Account">Primary Account</option>
  <option value="Secondary Account">Secondary Account</option>
</select>
<br/>
<a routerLink="/transfer-page" class="btn btn-info" role="button">Show Transactions</a>
<br/>
<br/>
<a routerLink="/deposit-page" class="btn btn-info" role="button">Deposit</a>
<br/>
<br/>
<a routerLink="/withdraw-page" class="btn btn-info" role="button">Withdraw</a>
<br/>
<br/>
<a routerLink="/recipient-page" class="btn btn-info" role="button">Transfer</a>
